<h1> Create a New Figure</h1>
<form action="/figures/new" method="POST">

  <h2>Enter the Figure's Name</h2>
  <input type="text" id="figure_name" name="figure[name]">

  <h2> Choose a Title from this list:</h2>
  <br></br>
  <%Title.all.each do |title|%>
    <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%=title.id%>"><%=title.name%></input>
    <br></br>
  <%end%>

  <h2>Or Create a New Title</h2>
  <input type="text" id="title_name" name="title[name]">

  <h2> Choose a Landmark from this list:</h2>
  <br></br>
  <%Landmark.all.each do |landmark|%>
    <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="landmark.id"><%=landmark.name%></input>
    <br></br>
  <%end%>

  <h2>Or Create a New Landmark</h2>
  <input type="text" id="landmark_name" name="landmark[name]">

  <input type="submit" value="Create New Figure">
</form>
